# =========================================
# DATASETS
# =========================================
EcoSep/DataSet
IA/DataSet/

# =========================================
# MODELOS TREINADOS
# =========================================

*.keras
*.h5
*.ckpt
*.pb
*.tflite
saved_model/

# =========================================
# CACHE DO PYTHON
# =========================================

__pycache__/
*.py[cod]

# =========================================
# AMBIENTES VIRTUAIS
# =========================================

venv/
.venv/
env/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/

# =========================================
# LOGS
# =========================================

*.log

# =========================================
# ARQUIVOS COMPACTADOS
# =========================================

*.zip
*.rar
*.7z

# =========================================
# ARQUIVOS DO SISTEMA
# =========================================

Thumbs.db
.DS_Store

# =========================================
# CONFIGURAÇÕES DO VS CODE
# =========================================

.vscode/